.conteiner{
    width: 600px;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: start;
}
.header{

    background: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 5px;

}
.home{
    width: 45%;
    margin: 0;
    padding: 5px;



}
.about{
